{% from "_formhelpers.html" import render_field %}
<title>G03多语言注册系统</title>
<h5>{{ info }}</h5>
<a href="{{ url_for('getexcel') }}">下载excel</a>
<a href="{{ url_for('getjson') }}">下载json</a>
<a href="{{ url_for('getbytes') }}">下载bytes</a>
<a href="{{ url_for('history') }}">查看历史</a>

<style>
  input{
    width: 100%;
    height: 45px;
    text-align: center;
  }

 .btn{
            margin: 5 auto;
            background-color:rgb(71, 110, 184);
            color:aliceblue;
            width: 100%;
            height: 45px;
            cursor: pointer;
            transition: all 0.2s;
            text-align: center;
            line-height: 45px;
            border-radius: 15px;
        }
                .btn:hover{
            background-color:rgb(59, 84, 128);
        }

        .btn:active{
            background-color:rgb(10, 16, 27);
        }
</style>

<form method=post action="/hello">
    
<h5>输入简体中文</h5>
<dl>{{ render_field(myform.inputText) }}</dl>
<input type=submit value=录入简体中文 name=录入简体中文>
<br />
<input type=submit value=查询简体中文 name=查询简体中文>
<br />

<h5>输入id</h5>
<dl>{{ render_field(myform.inputId) }}</dl>
<br />
<div class ="btn" onclick="copyFunction()">复制ID</div>
<br />
<input type=submit value=查询ID name=查询ID>
<br />
<input type=submit value=编辑ID name=编辑ID>
<br />
<input type=submit value=删除ID name=删除ID>
</form>



<script>
function copyFunction() {
  var copyText = document.getElementById("inputId");
  copyText.select();
  document.execCommand("copy");
  //清除旧的 并选中
  document.getElementById("inputText").value = ""
  document.getElementById("inputText").select();
}
</script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}